<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./partials/head.ejs')  %> 
        <link rel="stylesheet" href="/css/detail.css">
        <title>Luz & Vida Homedeco</title>
    </head>

    <body>
        <nav>
            <a href="/productos/">Volver</a>
        </nav>
        <form action="/productos/guardar" method="post" enctype="multipart/form-data">
                <fieldset>
                    <legend>Product name</legend>
                    <input type="text" name="name" id="name">
                </fieldset>
                <fieldset>
                    <legend>Product price</legend>
                    <input type="text" name="price" id="price">
                </fieldset>
                <fieldset>
                    <legend>Product category</legend>
                    <input type="radio" name="category" id="category-Cat1" checked>
                    <label for="category-Cat1">Cat 1</label>
                    <input type="radio" name="category" id="category-Cat2">
                    <label for="category-Cat2">Cat 2</label>
                    <input type="radio" name="category" id="category-Cat3">
                    <label for="category-Cat3">Cat 3</label>
                </fieldset>
                <fieldset>
                    <legend>Archivos</legend>
                    <input type="file" name="image" id="image">
                    <label for="image">Subir imagen</label>
                </fieldset>
            <button type="submit">Guardar</button>
        </form>

    </body>

</html> 