<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./partials/head.ejs')  %> 
        <link rel="stylesheet" href="/css/main.css">
        <title>Luz & Vida Homedeco</title>
    </head>

    <body>

        <header>
            <%- include('./partials/header.ejs')  %>    
        </header>

        <!-- CARROUSEL -->
        <section>
            <article>
                <img src="" alt="Título del producto">
                <h3>Título del producto</h3>
                <p>Bajada del producto</p>
            </article>
            <article>
                <img src="" alt="Título del producto">
                <h3>Título del producto</h3>
                <p>Bajada del producto</p>
            </article>        
        </section>
        
        <!-- PRODUCTOS -->
        <section>
            <!-- PRODUCTO1 -->
            <article>
                <img src="" alt="Título del producto">
                <h3>Título del producto</h3>
                <p>Bajada del producto</p>
                <a href="#">ver más</a>
            </article>
            <!-- PRODUCTO2 -->
            <article>
                <img src="" alt="Título del producto">
                <h3>Título del producto</h3>
                <p>Bajada del producto</p>
                <a href="#">ver más</a>
            </article>
        </section>

        <footer>
            <%- include('./partials/footer.ejs')  %>
        </footer>

    </body>
</html>