<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./partials/head.ejs')  %> 
        <link rel="stylesheet" href="/css/main.css">
        <title>Luz & Vida Homedeco - Registro</title>
    </head>

    <body>

        <header>
            <%- include('./partials/header.ejs')  %>    
        </header>


        <footer>
            <%- include('./partials/footer.ejs')  %>
        </footer>

    </body>
</html>