<div><img src="" alt="Logo de la empresa"></div>
<section>
    <h2>Contacto</h2>
    <ul>
        <li><a href="#">Enlace 1</a></li>
        <li><a href="#">Enlace 2</a></li>
        <li><a href="#">Enlace 3</a></li>
    </ul>
</section>