<div><img src="" alt="Logo de la empresa"></div>
<nav>
    <ul>
        <li><a href="#">PRODUCTOS</a></li>
        <li><a href="#">CONTACTO</a></li>
        <li><a href="#">NOSOTROS</a></li>
        <li><a href="#">CARRITO</a></li>
        <li><a href="#">CUENTA</a></li>
    </ul>
</nav>